<form [formGroup]="form" (submit)="onSubmit()" novalidate>
  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Password" required>
    <mat-error *ngIf="form.get('password').hasError('required')">Required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm" required>
    <mat-error *ngIf="form.get('confirmPassword').hasError('required')">Required</mat-error>
    <mat-error *ngIf="form.get('confirmPassword').hasError('matchPassword')">Must match</mat-error>
  </mat-form-field>

  <button mat-raised-button type="submit" [disabled]="!form.valid">Send</button>
</form>
